 #img1{
    background-size: cover;
    background-image: url(./T2.jpg);
}

#img2{
    background-size: cover;
    background-image: url(./T2.1.jpg);
}
.task2 {
display:flex;
padding: 50px;
margin: 50px;
/* line-height: 20px; */
/* height: 5px;
width: 5px; */

}

