.External1 {
    color: aquamarine;
    font-size: 45px;
    font-weight: 500;
    text-align:center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    text-transform: uppercase;
}

.External2 {
    color:#E9C46A;
    font-size: 63px;
    font-weight: 100;
    text-align:center;
    font-style: oblique;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: overline;
    text-transform: capitalize;
}

.External3 {
    color: brown;
    font-size: 73px;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-transform: lowercase;
}